<p>our contacts</p>

  <div id="parent">
  <div class="wrapper">
  <div class="mb-3">
      <p><object data="../../../assets/icons/location-dot-solid.svg" type="image/svg+xml" class="icon-circle"></object>  our place:Modiin Elit</p>  
  <div class="mb-3 mt-3">
    <p><object data="../../../assets/icons/at-solid.svg" type="image/svg+xml" class="icon-circle"></object> our mail: a0527654407@gmail.com</p>
  </div>
  <div class="mb-3 mt-3">
   <p><object data="../../../assets/icons/phone-solid.svg" type="image/svg+xml" class="icon-circle"></object> our phone number: 0534161725</p>
  </div> 
</div>
</div>

<form action="/home">
    <div id="parent">
    <div class="wrapper">
    <div class="mb-3">
        <label for="pwd" class="form-label">Name:</label>
        <input type="name" class="form-control" id="pwd" placeholder="Enter name" name="pswd">
      </div>
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
        <label for="comment">Comments:</label>
         <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-ligth">send</button>
</div>
</div>
  </form>
  
