
<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <h2>About Me</h2>
     <img src="/../../assets/images/Related Products/marcos-ferreira-Zub23WuLRTw-unsplash.jpg" width="300px">
        <h3 class="mt-4">My Link</h3>
        <p>click down</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" class="btn btn-dark" href="#">aicon</a>
          </li>
         
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2>ABOUT ME</h2>
        <h5> Dec 7, 2020</h5>
        
        <p>I started in young age to fix computers I like it,
          every one told me that I have talent,therfore, I decided to go learning it siriesly.
        and I stand today and proud to say that I am already profisseonal on fix compoter
      and all of connection that. </p>
        <p>here are my site and you alowd to see my services and use them,
          just call or send massage,
          see you!
        </p>
  
        <h2 class="mt-5">MY SERVICES</h2>
        <p>Support and maintenance of computer networks in small and medium -sized businesses is our playground, and a quick and efficient response to service calls is the name of the game we play. Because we know that employees are disabled from work because of computers that do not work is not a game ... It's money. We suggest:

VSIGN advice and characterization of a computing system before establishing a new business/upgrading a veteran business.

VSIGN execution of a new business computing system/system upgrade in a veteran business.

VSIGN Maintenance and Support Services for Business and Organizations Computing System.

VSIGN SALE SAVE and Software (as part of an upgrade/upgrade project or as part of current support service)

VSIGN Installation of Computer Integrated Phone Centrality (IP-PBX) includes deploying branches and outdoor lines of all types. </p>
        
      </div>
    </div>
  </div>
