

<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <h2>{{service.name}}</h2>
        <img src="/assets/images/{{service.images[0]}}" width="300px">
        <h3 class="mt-4">My Range</h3><p>{{service.priceRange.low}} - {{service.priceRange.high}}</p>
        <!-- <p>{{service.description}}</p> -->
        <ul class="nav nav-pills flex-column">
            
            <li class="nav-item">
              
            </li>
          </ul>
          <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
          <h2>ABOUT ME</h2>
          <h5> Dec 7, 2020</h5>
          
          <p>I started in young age to fix computers I like it,
            every one told me that I have talent,therfore, I decided to go learning it siriesly.
          and I stand today and proud to say that I am already profisseonal on fix compoter
        and all of connection that. </p>
          <p>here are my site and you alowd to see my services and use them,
            just call or send massage,
            see you!
          </p>
    
          <h2 class="mt-5">MY SERVICES</h2>
          <p>my services is:fix computers,
            internet,
            stuff for your computer,
            sales computers im cheap price
          and etc</p>
          
        </div>
      </div>
    </div>