<div class="container">
<img src="../../../assets/markus-spiske-iar-afB0QQw-unsplash.jpg" width="100%" height="80px">
<div class="text-block"><p>{{value}}</p></div>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
   
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"  >
            <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
          </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="service" routerLinkActive="active">My Services</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" routerLink="feedbacks" routerLinkActive="active">Feedback</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact us</a>
          </li>
          <!-- <li class="nav-item" >
            <a class="nav-link" routerLink="login" routerLinkActive="active">contact us</a>
          </li> -->
      </ul>
      
    </div>
  </nav>

  <router-outlet></router-outlet>
  <div class="mt-5 p-4 bg-dark text-white text-center">
    <p>Footer</p>
  </div>

